@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Rubik', sans-serif;
    text-decoration: none;
}
body{
    background-image: linear-gradient(45deg, rgb(0, 47, 117), rgb(255, 55, 171));
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
section{
    width: 70vw;
    height: 80vh;
    display: flex;
    background-color: transparent;
    box-sizing: border-box;
}
div.div-left{
    width: 50%;
    height: 100%;
    display: flex;
    background-color: white;
    border-radius: 15px 0 0 15px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
div.div-logo{
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0;

}
div.div-logo h3{
    margin: 25px;
}
div.div-content{
    width: 60%;
    height: 60%;
}
div.div-tittle{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
}
div.div-subtittle{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
div.div-form{
    font-weight:bold;
    font-size: 0.8em;
}
div.div-email-password{
    height: 70%;
    flex-direction: column;
    
}
div.div-email{
    width: 100%;
    height: auto;
    margin-bottom: 30px;

}
div.div-password{
    width: 100%;
    height: auto;
    margin-bottom: 30px;


}

.input-text{
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 8px;
    border: solid 1px gray;
}
div.div-checkbox-forgot{ 
    width: 100%;
    margin-bottom: 30px;
}
div.div-checkbox-forgot input{ 

}
div.div-checkbox-forgot span{
    float: right;
}
div.div-sign{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}
.btn-sign{
    width: inherit;
    height: inherit;
    background-color: rgb(0, 47, 117);
    color: white;
    font-size: 1.2em;
    border-radius: 8px;
    border: none;
}

div.div-right{
    width: 50%;
    height: 100%;
    border-radius: 0 15px 15px 0;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.div-sign-up{
    display: flex;
    justify-content: center;
}
.div-sign-up a{
    margin-left: 5px;
}
.footer{
    width: 100%;
    height: auto;
    float: right;
}
.footer p{
    margin: 0 0 15px 15px;
    font-size: 0.8em;
}